* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Pacifico;
    font-weight: 400;
    cursor: default;
    scroll-behavior: smooth;
    list-style-type: none;
}

@font-face {
    font-family: Pacifico;
    src: url("../assets/fonts/Pacifico-Regular.ttf");
    font-weight: 400;
}

$backgroundColor: #EFE3D3;
$backgroundColorCARD: #AC6A6E;

@mixin flex($flex-d, $just-c, $align-i) {
display: flex;
flex-direction: $flex-d; //row / column
justify-content: $just-c; //space-between
align-items: $align-i;  //center
}

@mixin hoverButtonBigger() {
transition: ease-in 0.2s;
&:hover {
    transform: scale(1.2);
    }
}

@mixin hoverButtonSmaller() {
transition: ease-in 0.2s;
&:hover {
    transform: scale(0.8);
    }
}

@mixin Container($left, $right, $top, $indent) {
@if ($indent == padding) {
    padding-left: $left;
    padding-right: $right;
    padding-top: $top;
} @else if ($indent == margin) {
    margin-left: $left;
    margin-right: $right;
    margin-top: $top;
    }
}

@mixin backGround($color, $bgImgURL) {
background: url($bgImgURL) no-repeat center center / cover;
background-color: $color;
}

@mixin sizeBox($width, $height) {
    width: $width;
    height: $height;
}

@mixin cardContent($fz, $mb) {
    font-size: $fz;
    margin-bottom: $mb;
}

@mixin extraFontfamily($ff, $fw) {
    font-family: $ff;
    font-weight: $fw;
}

@mixin buttonMain ($width) {
    width: $width;
    background-color: #fff;
    outline: none;
    border: 0;
    font-size: 10px;
    padding: 7px 13px 7px 13px;
    border-radius: 10px;
}

$mobile_screen: 367px;
$table_screen: 768px;
$desctop-small_screen: 1080px;
$desctop-medium_screen: 1480px;
$desctop-large_screen: 1860px;

@mixin adaptiv($media) {
@if($media == mobile) {
    @media (max-width: $mobile_screen) {
        @content;
    }
} @else if ($media == table) {
    @media (max-width: $table_screen) {
        @content;
    }
} @else if ($media == small-pc) {
    @media (max-width: $table_screen) {
        @content;
    }
} @else if ($media == medium-pc) {
    @media (max-width: $desctop-medium_screen) {
        @content;
    }
} @else if ($media == large-pc) {
    @media (max-width: $desctop-large_screen) {
        @content;
    }
}
}
.header {
    position: relative;
    @include Container(2%, 2%, 0, padding);
    background-color: #AE2A33;
    color: #fff;
    height: 50px;
    @include flex(row, space-between, center);
    &__logo {
        @include flex(row, space-between, center);
        gap: 5px;
        p {
            font-size: 20px;
        }
    }
    &__burgerMenu {
        display: none;
        position: absolute; 
        right: 180px;
        top: 0;
        background-color: #E4BEC2;
        border-radius: 20px 0px 0px 20px;
        color: #000;
        a {
            position: absolute;
            text-decoration: none;
            font-size: 20px;
            color: #000;
        }
        ul {
            display: block;
            position: absolute;
            background-color: #E4BEC2;
            display: flex;
            flex-direction: column;
            padding-left: 27px;
            padding-top: 30px;
            border-radius: 20px 0 0 20px;
            gap: 50px;
            width: 180px;
            height: 300px;
            transition: ease-in-out 0.2s;
        }
        li {
            &:nth-child(1) {
                margin-bottom: 20px;
                a {
                    color: #AE2A33;
                    font-weight: 400;
                    font-size: 30px;
                }
            }
            &:nth-child(2) {
                a {
                    color: #fff;
                    font-weight: 400;
                    font-size: 20px;
                    letter-spacing: 5px;
                }
            }
            &:nth-child(3) {
                a {
                    color: #fff;
                    font-weight: 400;
                    font-size: 20px;
                    letter-spacing: 5px;
                }
            }
            &:nth-child(4) {
                a {
                    color: #fff;
                    font-weight: 400;
                    font-size: 20px;
                    letter-spacing: 5px;
                    text-decoration: line-through;
                }
            }
        }

    }
    &__burger {
        position: relative;
        z-index: 2;
    }
}
.footer {
    margin-top: auto;
    height: 50px;
    width: 100%;
    background-color: #C8C9CD;
    text-align: center;
    @include flex(column, center, center);
    p {
        font-size: 5px;
        text-align: center;
    }
    &__main {
        font-size: 5px;
        text-transform: uppercase;
    }
    &__extra {
        font-size: 5px;
    }
}

.main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: $backgroundColor;
    &-notMain {
        color: #E4BEC2;
        margin-bottom: 5px;
        margin-top: 10px;
        font-size: 25px;
        text-align: center;
    }
    &__card {
        &_btn {
            width: 120px;
            background-color: #fff;
            outline: none;
            border: 0;
            font-size: 10px;
            padding: 7px 13px 7px 13px;
            border-radius: 10px;
            a {
                color: #000;
                text-decoration: none;
            }
        }
    }
    
    
}

.darken {
    position: relative;
    z-index: 5;
    background-color: #000;
}

.arrow__rotate {
    transform: rotate(180deg);
}

.linkToMain {
    text-decoration: none;
    color: #fff;
    font-size: 22px;
}